html{font-family:sans-serif;color:#555555;}
button{font-size:200%;padding:10 20px;}

#calendar{border:4px solid #777777;border-radius:4px;width:300px;margin:20px 0 20px 0;display:none;}

.year-month{border-bottom:1px solid #ccc;width:300px;text-align:center;}
#year-minus, #year-plus, #month-minus, #month-plus{font-size:70%;color:#aaa;text-decoration:none;cursor:pointer;}
ul.week-days{display:block;width:300px;background:#555;color:#fff;overflow:hidden;padding:0;}
ul.week-days li{display:block;float:left;width:42px;margin:0;padding:0;text-align:center;}
ul.week-days li.weekend{color:#ff5555;}

#days{display:block;width:300px;overflow:hidden;padding:0;}
#days li{display:block;float:left;width:42px;margin:0;padding:0;text-align:right;border-bottom:1px solid #ccc;}
#days li.empty{border:none;}
#days li.weekend{color:#ff5555;}
#days li a{display:block;width:38px;padding:0 4px 0 0;cursor:pointer;}
#days li a:hover{text-decoration:underline;}

#close{text-align:center;font-size:70%;cursor:pointer;color:#aaa;}
#close:hover{color:#ff0000;}
